### Python/Django files
__pycache__/
*.py[cod]
*$py.class
wheels/
*.egg-info/
.installed.cfg
*.egg
.coverage
coverage.xml
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
pip-log.txt
pip-delete-this-directory.txt
static/
staticfiles/
/{{cookiecutter.project_slug}}.log
/apimock/node_modules


# C extensions
*.so

# Environments
.idea/
.venv
venv/
ENV/
.python-version
