-r requirements.txt

# Code style / formatting
black==23.12.1
isort==5.13.2
flake8==6.1.0

#Testes
pytest==7.4.4
pytest-django==4.8.0
mock==5.1.0

# Better Dev Experience
ipython==8.24.0

# CORS (para quando o frontend está em domínio diferente)
{% if cookiecutter.docker_usage == "📦 use venv npm by default" %}
django-cors-headers==4.3.1
{% endif %}
