# Django
Django==4.1.7
asgiref==3.6.0
sqlparse==0.4.3
tzdata==2023.3

# 3rd
# django-sql-explorer==2.4.2
django-extensions==3.2.1

# DB
psycopg2==2.9.5
dj-database-url==1.3.0

# ENV
python-decouple==3.8
{% if cookiecutter.django_api == "django_ninja" %}
# API
django-ninja==0.21.0
{% endif %}

# PROD
#uWSGI==2.0.21
{% if cookiecutter.deploy_to == "fly.io" %}
whitenoise==6.4.0
gunicorn==20.1.0
{% endif %}
