# Django
Django==4.2.13
asgiref==3.8.1
sqlparse==0.4.4
tzdata==2023.4

# 3rd
# django-sql-explorer==2.4.2
django-extensions==3.2.3

# DB
psycopg2==2.9.9
dj-database-url==2.1.0

# ENV
python-decouple==3.8
{% if cookiecutter.django_api == "🥷 django_ninja" %}
# API
django-ninja==1.1.0
pydantic==2.7.1
pydantic_core==2.18.2
{% elif cookiecutter.django_api == "📄 openapi" %}
# API
django-connexion==0.0.2
connexion[swagger-ui]
{% endif %}

# PROD
#uWSGI==2.0.21
{% if cookiecutter.deploy_to == "fly.io" %}
whitenoise==6.4.0
gunicorn==20.1.0
{% endif %}
