name: {{cookiecutter.project_slug}} CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13.3-alpine
        env:
          POSTGRES_DB: db_test
          POSTGRES_PASSWORD: db_test_pwd_ci
          POSTGRES_USER: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: {{cookiecutter.python_version}}
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-dev.txt

      - name: Run Python Linter
        run: flake8

      - name: Rodar migrations
        env:
          DATABASE_URL: postgres://postgres:db_test_pwd_ci@localhost:5432/db_test
        run: ./manage.py migrate --noinput

      - name: Tests
        env:
          DATABASE_URL: postgres://postgres:db_test_pwd_ci@localhost:5432/db_test
        run: pytest --cache-clear
